# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
coverage/
pubspec.lock

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/

# Android
.android/
.gradle/
local.properties
*.iml
*.apk
*.aar
*.dex
*.class
*.log
android/app/google-services.json


ios/Runner/GoogleService-Info.plist

# IDEs and system
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Misc Flutter
.macos/
.flutter-plugins
.flutter-plugins-dependencies



# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (MongoDB connection strings, API keys, etc.)
.env

# Logs
logs
*.log
logs/*.log

# OS junk files
Thumbs.db
.DS_Store

# Build / dist
dist/
tmp/
temp/
.cache/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local


# If your backend is in /server or /backend
server/node_modules/
server/.env
server/logs/
server/dist/
